<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-fcm-config"
    version="1.0.0">
    
    <name>cordova-plugin-fcm-config</name>
    
    <description>This plugin copies the required fcm configurations in the project folder</description>
    
    <author>Steffen Tröster</author>
    
    <license>MIT</license>

	<platform name="android">
		<source-file src="strings.xml" target-dir="./res/values-en-rAU"/>
		<source-file src="strings.xml" target-dir="./res/values-en-rIN"/>
		<source-file src="strings.xml" target-dir="./res/values-en-rSG"/>
		<source-file src="strings.xml" target-dir="./res/values-en-rUS"/>
		<source-file src="strings.xml" target-dir="./res/values-en-rGB"/>
		<source-file src="strings.xml" target-dir="./res/values-en-rCA"/>
		
		<resource-file src="icon/ldpi/close.png" target="res/drawable-ldpi/close.png" />
        	<resource-file src="icon/ldpi/close_pressed.png" target="res/drawable-ldpi/close_pressed.png" />		
		<resource-file src="icon/mdpi/close.png" target="res/drawable-mdpi/close.png" />
        	<resource-file src="icon/mdpi/close_pressed.png" target="res/drawable-mdpi/close_pressed.png" />
		<resource-file src="icon/hdpi/close.png" target="res/drawable-hdpi/close.png" />
        	<resource-file src="icon/hdpi/close_pressed.png" target="res/drawable-hdpi/close_pressed.png" />
		<resource-file src="icon/xhdpi/close.png" target="res/drawable-xhdpi/close.png" />
        	<resource-file src="icon/xhdpi/close_pressed.png" target="res/drawable-xhdpi/close_pressed.png" />
		<resource-file src="icon/xxhdpi/close.png" target="res/drawable-xxhdpi/close.png" />
        	<resource-file src="icon/xxhdpi/close_pressed.png" target="res/drawable-xxhdpi/close_pressed.png" />
		<resource-file src="icon/xxxhdpi/close.png" target="res/drawable-xxxhdpi/close.png" />
        	<resource-file src="icon/xxxhdpi/close_pressed.png" target="res/drawable-xxxhdpi/close_pressed.png" />		
	</platform>

	<platform name="ios">
		<source-file src="GoogleService-Info.plist"/>
	</platform>
</plugin>
